body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  text-align: center;
  background-image: linear-gradient(to right, red,orange,yellow,green,indigo); 
  backface-visibility: visible;
  -moz-backface-visibility: var(#007bff);
  background-size: cover;
}
h1 {
  margin-bottom: 30px;
  color: #022345;
}
input[type="text"] {
  padding: 10px;
  margin-bottom: 20px;
  width: 300px;
  max-width: 100%;
  border: none;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #0056b3;
}
#resultContainer {
  margin-top: 30px;
}
#resultContainer h2 {
  margin-top: 0;
  color: #007bff;
}
#resultContainer p {
  margin: 5px 0;
  color: #000;
}
#resultContainer a {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
#resultContainer a:hover {
    background: linear-gradient(to top left, #33ccff 0%, #66ff33 100%);
    /* color: black; */
}

@media (max-width: 800px) {
  input[type="text"] {
    max-width: 100%;
  }
}